/* variables and imports */

$colorWhite: #FFF7EB;
$colorBlack: #2D2B2D;
$colorOrange: #FEBD2D;

$fontColorBlack: #2D2B2D;
$fontColorWhite: white;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* general css */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: $fontColorBlack;
    font-size: 1rem;
    margin: 40px;
}

h1 {
    margin-top: 20px;
}

h2 {
    margin-top: 30px;
}

.kontaktPage button {
    background-color: transparent;
    border: 2px solid black;
    padding: 5px;
    margin: 5px 5px 0 0;
    color: black;
    transition: 0.3s;
}

.kontaktPage button:hover {
    background-color: $colorWhite;
    transition: 0.3s;
}

.kontaktPage input {
    background-color: transparent;
    border: 2px solid black;
    padding: 5px;
    margin: 5px 5px 0 0;
    color: black;
}

.about div h2 {
    margin-top: 0;
}

.about div {
    background-color: $colorOrange;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 0;
}
/* header */

header {
    border-radius: 0 0 20px 20px;
    padding: 20px;
    background-image: url("assets/hero-image.jpg");
    background-size: cover;
}

nav {
    background-color: $colorWhite;
    padding: 20px 55px;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks a{
    text-decoration: none;
    color: $colorBlack;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.navLinks a:hover {
    background-color: $colorBlack;
    color: white;
    transition: 0.3s;
}

.logoMain {
    height: 50px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.heroText {
    margin: 10vw 40px 40px 40px;
    color: white;
}

.heroText h1 {
    font-size: 10vw;
}

.hero p {
    background-color: $colorOrange;
    font-weight: bold;
    color: $fontColorBlack;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}

/* main */

main {
    margin: 40px 70px 0 70px;
}

.section1 {
    display: flex;
    justify-content: space-between;
}

.section1 > section {
    width: 33%;
    padding: 22px 30px;
    border-radius: 20px;
}

.menu {
    margin-left: -20px;
    background-color: $colorOrange;
    color: $fontColorBlack;
}

.cart {
    background-color: $colorBlack;
    color: $fontColorWhite;
}

.mostPopularProducts {
    margin-right: -20px;
    background-color: $colorBlack;
    color: $fontColorWhite;
}

.menu a {
    color: $colorWhite;
    text-decoration: none;
    background-color: $colorBlack;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: normal;
}

.menu a:hover {
    font-weight: bold;
}

.cart a {
    color: $colorBlack;
    text-decoration: none;
    background-color: $colorOrange;
    padding: 5px;
    border-radius: 10px;
    font-weight: normal;
}

.cart a:hover {
    font-weight: bold;
}

.cart p {
    margin-bottom: 10px;
    font-weight: bold;
}

.productsContainer {
    display: flex;
}

h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.productContainer {
    margin-bottom: 10px;
    font-weight: bold;
}

.productDrinks {
    margin-left: 40px;
}

.mostPopularProducts ol {
    margin-left: 20px;
}

.mostPopularProducts li {
    background-color: $colorOrange;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: max-content;
    color: $fontColorBlack;
}

.mostPopularProducts li::marker {
    color: $fontColorWhite;
}

@media screen and (max-width: 1000px) {
    .section1 {
        flex-wrap: wrap;
    }
    .section1 > section {
        width: 100%;
        margin: 20px 0;
    }
    .menu {
        margin-left: 0px;
    }
}

/* ads */

.ads {
    margin-top: 40px;
}

.ads a {
    text-decoration: none;
    color: $colorBlack;
    font-weight: bold;
}

.ads p {
    margin-top: 20px;
    background-color: $colorOrange;
    width: max-content;
    padding: 20px;
    border-radius: 15px;
}

/* footer */

footer {
    margin-top: 40px;
    background-color: $colorWhite;
    padding: 22px 30px;
    border-radius: 20px;
    display: flex;
}

.adress :first-child {
    font-weight: bold;
}

footer iframe {
    margin-right: 30px;
    height: 200px;
    width: 400px;
}